git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
aiohttp==3.7.4
aiofiles
pyshorteners
wget
youtube-search-python==1.4.6
yt-dlp
youtube-dl
youtube_search
ytthumb
heroku3
pyromod
pyrogram